@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #02130d;
    --background-end: #000000;
  }
}

body {
  background: #000000;
}

image {
  background-image:url('./images/mcdonald.png')
}


/* Aggiungi queste regole CSS al tuo file CSS */
.vortice-animation {
  width: 60%; /* Regola le dimensioni secondo necessità */
  height: 100%; /* Regola le dimensioni secondo necessità */
  background-image: url('./images/IY0L.gif'); /* Usa la GIF come sfondo */
  background-size: cover; /* Adatta la dimensione del background */
  animation: spin 3s linear infinite; /* Avvia l'animazione */
}

